
.view-breadcrumb {
  >span{
    font-size: 2rem;
    font-weight: bold;

    &:last-child {
      font-size: 2.5rem;
    }
  }

  .ant-breadcrumb-separator {
    .anticon {
      font-size: 2rem;
    }
  }
}