@import "../../vars";

.app {
    min-height: 100vh;
}

.app-logo {
    line-height: 32px;
    //background: rgba(255, 255, 255, 0.2);
    margin: 16px;
    text-align: center;
    font-weight: bold;
}
.app-menu {
    .menu-title {
        display: inline-flex;
        align-items: center;
        overflow: hidden;
        //font-size: 1.1rem;
        .anticon {
            font-size: 1.5rem;
        }
    }
}

.app-sider {
    //border-right: 1px solid #303030;
    position: fixed;
    z-index: 200;
    height: 100vh;
    box-shadow: 2px 0px 8px lightgray;
    .app-menu {
        text-align: left;
    }
    .ant-menu-item,
    .ant-menu-submenu {
        .anticon.menu-icon {
            font-size: 18px;
        }
    }
}

.app-header {
    position: fixed;
    z-index: 100;
    width: calc(100% - 300px);
    margin-left: 300px;
    transition: margin-left 0.2s, width 0.2s;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
    box-shadow: 0px 0px 8px lighten(@app-primary, 10%);
    .menu-trigger {
        font-size: 2rem;
        height: 4rem;
    }

    .app-head-menu {
        flex-grow: 1;
        text-align: right;
        float: right;
        line-height: 64px;
    }

    .app-head-navi {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        padding-right: 2rem;

        >a {
            display: inline-flex;
            align-items: center;
        }

        .ant-divider {
            font-size: 1.5rem;
            background-color: darkgray;
            margin: 0 2rem;
        }
    }

    .avatar {
        margin-right: 1rem;
        .anticon {
            margin-right: 0;
        }
    }

    .logout {
        font-size: 1.5rem;
    }
}

.app-content {
    margin-top: @layout-header-height;
    margin-left: 300px;
    margin-bottom: 2rem;
    transition: margin-left 0.2s;
    //margin: 24px 16px;
    padding: 24px;
    //background: #fff;
    min-height: 280px;
    .App-Breadcrumb {
        //padding: 5px 1rem;

        .ant-breadcrumb-link > a > .anticon + span {
            margin-left: 4px;
        }
    }

    .view-loading {
        .ant-spin-container {
            height: 100%;
        }
    }
}

.menu-collapsed {
    .app-header, .app-content, .app-footer {
        margin-left: 80px;
    }
    .app-header, .app-footer {
        width: calc(100% - 80px);
    }
}

.app-menu.ant-menu-inline-collapsed {
    .ant-menu-submenu, >.ant-menu-item {
        position: relative;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            border-right: @menu-item-active-border-width solid @menu-highlight-color;
            transform: scaleY(0.0001);
            opacity: 0;
            transition: transform 0.15s @ease-out, opacity 0.15s @ease-out;
            content: '';
        }

        &.ant-menu-submenu-selected, &.ant-menu-item-selected {
            &::before {
                z-index: 100;
                transform: scaleY(1);
                opacity: 1;
                transition: transform 0.15s @ease-in-out, opacity 0.15s @ease-in-out;
            }
        }
    }

    >.ant-menu-submenu, >.ant-menu-item {
        .ant-menu-submenu-title, .menu-title {
            .anticon {
                font-size: 1.5rem;
            }
        }
    }

}

.app-footer {
    position: fixed;
    bottom: 0px;
    margin-left: 300px;
    width: calc(100% - 300px);
    transition: margin-left 0.2s, width 0.2s;
    text-align: center;
    padding: 0 2rem 1rem 2rem;
}

.form-without-warning {
    .ant-form-item {
        margin-bottom: 0.5rem;
    }
}

.fix-table {
    table {
        table-layout: fixed;
        td {
            word-break: break-word;
        }
    }
}