@import "vars";
body {
  display: flex;
  flex-direction: column;
}
#root {
  //height: 100%;
  flex-grow: 1;
}


.app-loading {
  height: 100%;
  >div.ant-spin-container {
    height: 100%;
  }
}

.view-loading {
  height: 100%
}

.form-without-warning {
  .ant-form-item {
    margin-bottom: 0.5rem;
  }
}

.fix-table {
  table {
    table-layout: fixed;
    td {
      word-break: break-word;
    }
  }
}

button.button-black {
  .button-variant-primary(white, @app-black)
}

button.button-gray {
  .button-variant-primary(white, @app-gray)
}

button.button-green {
  .button-variant-primary(white, @app-green)
}

button.button-purple {
  .button-variant-primary(white, @app-purple)
}

button.button-warning {
  .button-variant-primary(white, @app-warning)
}

button.button-success {
  .button-variant-primary(white, @app-success)
}

button.button-error {
  .button-variant-primary(white, @app-error)
}

.avatar-uploader {
  display: flex;
  flex-direction: column;

  button {
    position: absolute;
    left: 120px;
  }
}
